.description {
    min-width: 50%;
}

.description p {
    width: 100%;
    /* text-align: left; */
}

.terms div p {
    width: 100%;
    text-align: left;
    font-size: 22px;
}

.terms div img {
    height: 30px;
}

.frag div p {
    width: 100%;
    text-align: left;
    font-size: 20px;
}

.links {
    width: max-content;
}

.links div {
    width: max-content;
}

div {
    padding: 2%;
}

a {
    font-size: 18px;
}

.icon {
    height: 30px;
}