body {
    background-color: black;
    color: white;
}

.centered {
    margin: auto;
    justify-content: center;
    display: flex;

    margin-bottom: 10px;
}

.centered * {
  display: inline-block;
}

p {
  font-size: 18px;
  line-height: 1.5;
  width: 80%;
  text-align: center;
  margin: auto;
}

h1 {
    font-size: 50px;
    margin-top: 60px;
}

h2 {
    font-size: 35px;
}

h3 {
  font-size: 25px;
}

h1, h2, h3 {
    text-align: center;
}

button {
    padding: 10px;
    font-size: 20px;
}

.repo-button {
  padding: 5px;
  margin-top: 10px;
  font-size: 18px;
}